.checkout_paypal_button {
    background-color: #FFC439 !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.checkout_paypal_image {
    padding: 10px 0 !important;
    width: 100px !important;
    height: auto !important;
}

.or_checkout {
    position: absolute !important;
    top: -16px !important;
    font-size: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff !important;
    padding: 0 20px !important;
}

@media screen and (max-width:767px) {
    .checkout_main_container {
        width: auto !important;
        padding: 0 20px !important;
        margin-top: 10px !important;
    }

    .checkout_content_mobile {
        padding: 0 20px !important;
        width: 100% !important;
    }
}