@use '@akinon/next/assets/styles/' as pz-default;
@use './fonts/index.scss' as fonts;
@use './fonts/pz-icon.css' as icons;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header-grid-template-areas {
    grid-template-areas:
      'band-l band-m band-r'
      'main-l main-m main-r'
      'nav nav nav';
  }

  // .max-container {
  //   margin: 0 3rem;
  // }

  .header-grid-area-band-l {
    grid-area: band-l;
  }

  .header-grid-area-band-m {
    grid-area: band-m;
  }

  .header-grid-area-band-r {
    grid-area: band-r;
  }

  .header-grid-area-main-l {
    grid-area: main-l;
  }

  .header-grid-area-main-m {
    grid-area: main-m;
  }

  .header-grid-area-main-r {
    grid-area: main-r;
  }

  .header-grid-area-nav {
    grid-area: nav;
  }

  .header-m-template-cols {
    grid-template-columns: auto 1fr 1fr;
  }

  .border_pink {
    border-color: 1px solid #C475AB !important;
  }

  .pinkbtn {
    background-color: #C475AB;
    color: #fff;
    padding: 7px 14px;
    margin-top: 10px;
    font-size: 14px;
    // border-radius: 10px;
  }

  .bluebtn {
    background-color: #003744;
    color: #fff;
    padding: 7px 14px;
    margin-top: 10px;
    font-size: 14px;
  }

  .add_to_cart_image {
    width: 15px !important;
    height: 15px !important;
    padding: 1px !important;
  }

  .max-container {
    max-width: 1170px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
  }

  input {

    &:focus,
    &:not(:placeholder-shown),
    &:autofill {
      &+label {
        @apply top-1/3;
      }
    }
  }

  html:has(.scroll-lock) {
    overflow-y: hidden;

    body {
      overflow-y: hidden;
    }
  }
}

.header_logo {
  width: 170px !important;
}

.active_header {
  // padding: 5px 12px !important;
  border-radius: 30px !important;
  color: #fff !important;
  background: #EB89B5 !important;
}

.header_content li {
  padding: 4px 10px !important;
}

.breadcrummp_all a,
.breadcrummp_all i {
  font-size: 16px;
  color: #999999;
}

.breadcrummp_all a:last-of-type {
  color: #003744;
  font-size: 16px;
  font-weight: 600;
}

.mobile_content_middle,
.mobile_header_logo {
  display: none !important;
}

.icon_header,
.header_login_mobile a {
  color: #EB89B5 !important;
}

.explore_content {
  color: #EB89B5 !important;
  font-weight: 600 !important;
  text-align: center !important;
  font-size: 18px !important;
  white-space: nowrap !important;
}

.mobile_user_profile_image {
  width: 50px !important;
  height: auto !important;
}

.mobile_user_profile_text {
  font-size: 18px !important;
  color: #003744 !important;
  font-weight: 600 !important;
}

.mobile_menu_items:hover {
  background-color: #EB89B5 !important;
  color: #fff !important;
}

.category_card {
  border: 1px solid #C475AB !important;
  padding: 15px !important;
  border-radius: 5px !important;
}

.navbar_content_card {
  border-right: 1px solid #CCCCCC !important;
}

.navbar_dummy_image {
  width: 60px !important;
  height: auto !important;
}

.filter_header_list {
  border-top: 1.5px solid #E987B4 !important;
  border-bottom: 1.5px solid #E987B4 !important;
  padding: 8px 0 !important;
  margin-bottom: 30px !important;
}

.cart_empty_title {
  font-size: 26px !important;
  font-weight: 600 !important;
  color: #003744 !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.cart_empty_subtitle {
  font-size: 14px !important;
  margin: 10px 0 !important;
  color: #003744 !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.product_item_single_image {
  height: 100% !important;
  width: 100% !important;
}

// ------------------  Home Banner  --------------------
.home_hero_slider {
  position: relative !important;
  margin-top: 20px !important;
}

.home_slider_title {
  position: absolute !important;
  top: 32% !important;
  font-size: 70px !important;
  color: #FFFAF1 !important;
  font-family: Georgia !important;
  left: 180px !important;
  transform: translateY(-50%) !important;
}

.home_slider_content {
  position: absolute !important;
  top: 50% !important;
  border: 1px solid #FFFAF1 !important;
  padding: 10px 30px !important;
  color: #FFFAF1 !important;
  left: 250px !important;
  transform: translateY(-50%) !important;
}

// --------------------  Cart  -------------------------

.color_blue {
  color: #003744 !important;
  font-weight: 600 !important;
}

.close_cart_icon {
  background-color: #C475AB !important;
  color: #fff !important;
  border-radius: 50% !important;
  padding: 5px !important;
}

.cart_button_add {
  border: 1px solid #b9b9b9 !important;
}

.color_cart_add_button {
  color: #343434 !important;
}

.border_cart_add {
  border: 1px solid #343434 !important;
  padding: 3px 0 !important;
}

.cart_add_minus {
  border: 1px solid #b9b9b9 !important;
  transform: skewY(-10deg);
}

.cart_minus_add {
  border: 1px solid #b9b9b9 !important;
  transform: skewY(-170deg);
}

.summary_cart_button {
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%) !important;
  background-color: #999999 !important;
  color: #fff !important;
  border: 1px solid #999999 !important;
}

.summary_icon {
  color: #C475AB !important;
  margin-right: 10px !important;
}

.loaction_text_color {
  color: #0076CB !important;
}

.add_address_button {
  font-size: 12px !important;
  padding: 0px 16px !important;
}

// -----------------   end of cart  ------------------- 

// ----------------- Checkout  -------------------

.checkout_paypal_button {
  background-color: #FFC439 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.checkout_paypal_image {
  padding: 10px 0 !important;
  width: 100px !important;
  height: auto !important;
}

.color_lightblue {
  color: #0047FF !important;
}

.or_checkout {
  position: absolute !important;
  top: -16px !important;
  font-size: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: #fff !important;
  padding: 0 20px !important;
}

.add_address_form {
  color: #0047FF !important;
}

.shipping_method {
  background-color: #F3F3F3 !important;
}

.paypal_method {
  background-color: #F5F8FF !important;
  border: 1px solid #0047FF !important;
}

.paypal_button {
  background-color: #0070BA !important;
  color: #fff !important;
}

.addres_form_policy {
  color: #0047FF !important;
  text-decoration: underline !important;
  font-size: 12px !important;
}

// ------------------   End of checkout  ---------------------

// ------------------   Detail Page  -------------------------
.button-group {
  display: flex;
}

.greenbtn {
  background-color: #003744;
  margin-right: 10px;
  border: none;
}

.greenbtn:hover {
  border: 1px solid #003744;
}

.pinkbtn:hover {
  border: 1px solid #C475AB;
}

.product-name {

  font-weight: 700;
  font-family: Georgia;
  color: #003744;


}

.products-features ul li {
  list-style: initial;
  font-family: Georgia;
  font-weight: 400;
  line-height: 30px;
}

.products-features .product-name {
  border-bottom: 1px solid;
  border-color: #E987B4;
}

.products-features ul {
  margin-left: 20px;
  margin-top: 10px;
  font-family: Georgia;
}

.selectgroup {
  display: flex;
  gap: 10px;
}

.selectgroup h3 {
  font-family: Georgia;
  font-weight: 700;
  text-align: left;
  color: #343434;

}

.quantity-main .quantity-button {
  border: 0.5px solid #343434;
  border-color: #afafaf;
  padding-left: 10px;
  font-family: Georgia;
  padding: 6px 6px 6px 12px;
  width: 20%;

}

.quantity-main h3 {
  font-family: Georgia;
  font-weight: 700;
  text-align: left;
  color: #343434;

}

.selectgroup .selectgroupinner select {
  border: 0.5px solid #343434;
  border-color: #afafaf;
  padding-left: 10px;
  font-family: Georgia;
}

.price-class {
  color: #003744;
  font-weight: 500;
}

.quantity-main {
  margin-bottom: 10px;
}

.heading-main {
  font-family: Playfair Display;
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
  text-align: left;

}

.border-pink {
  padding: inherit;
  border-radius: 30px 0px 0px 0px;
  border: 1px solid #E987B4;
}

.fintech-desc {
  font-family: Playfair Display;
  font-weight: 500;
  text-align: left;
  color: #003744;
}

.button-inner {
  border: 1px solid #C475AB;
  padding: 5px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

//---------------   End of detail page  ----------------------- 

// -----------------------   login page  -------------------------- 
.login_bg {
  background-image: url('../../public/images/local/login-bg.svg') !important;
  background-position: top !important;
  background-size: cover !important;
  padding: 30px 10px !important;
  background-repeat: no-repeat !important;
  padding: 0 10px !important;
}

.login_blur {
  backdrop-filter: blur(10px) !important;
  padding-left: 0px 4rem 0px 0px !important;
}

.login_logo {
  width: 40% !important;
  margin: 0 auto !important;
  padding: 40px 0 !important;
  border-radius: 0 0 50px 50px !important;
  box-shadow: 0 6px 4px -3px #C576AC !important;
}

.login_line {
  width: 150px !important;
}

.hidden_password {
  display: none;
}

.log_inwith {
  color: #E287CE !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}


// ----------------------- Search ------------------------------------

.search_bar_content {
  position: fixed !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
  // transform: translate(-50% , -50%) !important;
  z-index: 1118 !important;
  height: 100vh !important;
  background: transparent !important;
  backdrop-filter: blur(10px) !important;
}

.search_input {
  background-color:#F0F0F0 !important;
}
.search_icon{
  color: #EB89B5 !important;
}
// ----------------------- End of login page  -------------------------- 

@media screen and (max-width:767px) {
  .max-container {
    margin: 0 10px;
  }

  .min-h-\[150px\] {
    min-height: auto;
  }

  //--------------- Home --------------- //
  .home_hero_slider {
    margin-top: 0px;
  }

  .home_slider_title {
    left: 10px !important;
    font-size: 46px !important;
    top: 35% !important;
  }

  .home_slider_content {
    left: 10px !important;
  }

  .home_advertisment_content_mobile,
  .home_advertisment_container {
    flex-direction: column;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }

  .home_advertisment_container {
    padding: 20px !important;

  }

  .home_advertisment_content,
  .home_advertisment_image,
  .home_discount {
    width: 100% !important;
    padding: 0 !important;
  }

  .home_advertisment_content h1 {
    font-size: 40px !important;
  }

  .home_advertisment_image {
    position: unset !important;
  }

  .cQBYFX .home_flower {
    position: absolute;
    top: -43px;
    right: -7px;
  }

  .testimonials_content {
    margin-top: 80px !important;
  }

  .home_subscribe_text {
    font-size: 12px !important;
  }

  .home_subscribe_title {
    font-size: 20px !important;
  }

  .subscribe_back {
    height: 245px !important;
  }

  .subscribe_top {
    height: 295px !important;
  }

  .home_thankyou_text h3 {
    font-size: 16px !important;
  }

  .home_thankyou_text h2 {
    font-size: 28px !important;
  }

  .mobile_content_middle,
  .mobile_header_logo {
    display: block !important;
  }

  .header_logo {
    display: none !important;
  }

  .home_slider_content h2 {
    text-align: center !important;
  }

  .navbar_dummy_image {
    width: 90px !important;
    height: auto !important;
  }

  .selectgroup {
    display: block;

  }

  .selectgroup .selectgroupinner {
    margin-bottom: 10px;
  }

  .selectgroup .selectgroupinner select {

    width: 100%;
  }

  .button-group {
    display: block;
  }

  .button-group button {
    margin-top: 5px;
    width: 100%;
  }

  .quantity-main .quantity-button {

    width: 35%;
  }

  .cart_button_add_mobile {
    width: 110px !important;
  }

  .checkout_content_mobile {
    padding: 0 20px !important;
    width: 100% !important;
  }

  .address_form_content {
    flex-direction: column;
  }

  .address_form_content_input {
    width: 100% !important;
  }

  .checkout_or_mobile {
    margin-top: 30px !important;
  }
}